<!-- partial:partials/_footer.html -->
{{ template "components/partials/_footer" . }}
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
{{ template "components/partials/_main-script" . }}
<!-- <script src="./web/assets/js/Chart.roundedBarCharts.js"></script> -->
<!-- End custom js for this page-->

<!-- BASIC ELEMENT -->
<script src="./web/assets/js/file-upload.js"></script>
<script src="./web/assets/js/typeahead.js"></script>
<script src="./web/assets/js/select2.js"></script>

<!-- CHART JS -->
<script src="./web/assets/js/chart.js"></script>
</body>

</html>